<h1 class="center page-title">Listing all articles</h1>
<div class="center">
  <%= will_paginate %>
</div>
<%= render 'article_list', articles: @articles %>
<div class="center">
  <%= will_paginate %>
</div>
